<div class="col-sm-12 card-container" *ngIf="!post.onlyMe">
  <mat-card>
      <mat-card-header style="margin-bottom: 1rem;">
        <div mat-card-avatar style="background-image: url('{{post.userProfileImage}}');
        background-size: cover;"></div>
        <mat-card-title>{{post.userName}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="post.img" width="350" height="230" alt="User">
      <mat-card-content class="card-content">
        <p>
          {{post.text}}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="!myPost">
        <button mat-flat-button (click)="support()">Support &nbsp;
          <svg class="heart" viewBox="0 0 32 29.6" style="color: red; width: 1.2rem;">
              <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
          </svg> 
        </button>
        {{post.supportCount.length}}
      </mat-card-actions>
      <div *ngIf="myPost">
        <button mat-flat-button disabled>Support &nbsp;
          <svg class="heart" viewBox="0 0 32 29.6">
              <path d="M23.6,0c-3.4,0-6.3,2.7-7.6,5.6C14.7,2.7,11.8,0,8.4,0C3.8,0,0,3.8,0,8.4c0,9.4,9.5,11.9,16,21.2
                c6.1-9.3,16-12.1,16-21.2C32,3.8,28.2,0,23.6,0z"/>
          </svg> 
        </button>
        {{post.supportCount.length}}
      </div>
    </mat-card>
</div>