<div class="sidenav" id="mySidenav" [ngClass]="{sidenavWidth: profileNavStatus===true}">
    <a class="closebtn" (click)="closeProfileNav()">
        &times;
    </a>
    <div *ngIf="authService.userData as user">
        <div class="text-center mt-2">
            <img src="{{user.photoURL}}" class="profile-image" width="20px">
        </div>
        <div class="text-center profile-name">
            Hello, <br><span >
                {{(user.displayName) ? user.displayName : 'User'}}
            </span>
        </div>
        <div class="profile-logout text-center"  (click)="authService.logout()">
            Logout
        </div>
    </div>
</div>