<!-- <div #gmap style="width:100%;height:400px"></div> -->
<!-- <google-maps></google-maps> -->
<h2 style="text-align: center; margin: 30px;">Dermatologists Near You</h2>
<div>
    <google-map height="500px" width="100%" [zoom]="zoom" [center]="center" [options]="options">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label" [title]="marker.title"
            [options]="marker.options">
        </map-marker>
    </google-map>
</div>

<div>
    <button mat-flat-button color="primary" (click)="addMarker()">Add Marker</button>
</div>
