<div class="login-wrapper">
    <div class="row">
        <div class="col-lg-6 image-side d-flex justify-content-center align-items-center flex-column d-none d-lg-flex">
            <img src="../../assets/images/loader.gif" class="infinity-logo">
            <p class="text-under-logo mt-0">Infinity SknCure</p>
        </div>
        <div class="content-side col-lg-6 d-flex flex-column justify-content-center align-items-center p-0">
    
            <div class="bg-png d-flex justify-content-center">
                <img src="../../assets/images/bg-login.png">
            </div>
            <div class="doc-img d-flex justify-content-center">
                <img src="../../assets/images/dermatology-login.png">
            </div>
    
            <div class="social_logins mt-2" (click)="loginGoogle()">
                <div class="google-btn">
                    <div class="google-icon-wrapper">
                        <img class="google-icon"
                            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" />
                    </div>
                    <p class="btn-text"><b>Sign in with google</b></p>
                </div>
            </div>
        </div>
    </div>
</div>