<div class="add-post" [routerLink]="['/new']">
    <mat-icon>add</mat-icon>
</div>
<section>
    <!-- <article class=" posts-header">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="mat-display-2">Infinity Community</div>
                    <p class="text-muted header-para">Sharing your experiences can help you find your voice. By, "Giving it away" you can use your own journey as a means to help others on theirs.</p>
                </div>
            </div>
        </div>
    </article> -->
        <div class="row">
            <div class="col">
                <div class="central-navigation mx-auto mt-5">
                    <div class="navigation-tab active" routerLink="/posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a>
                            Community
                        </a>
                    </div>
                    <div class="navigation-tab" [routerLink]="['me']" routerLinkActive="active">
                        <a>My Posts</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <article>
        <div class="container">
                <router-outlet></router-outlet>
        </div>
    </article>
    
</section>