<div class="add-post" [routerLink]="['/new']">
    <mat-icon>add</mat-icon>
</div>
<section>
    <h1 class="top-heading">Connect with Peers!</h1>
        <div class="row">
            <div class="col">
                <div class="central-navigation mx-auto mt-5">
                    <div class="navigation-tab active" routerLink="/posts" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a>
                            Community
                        </a>
                    </div>
                    <div class="navigation-tab" [routerLink]="['me']" routerLinkActive="active">
                        <a>My Posts</a>
                    </div>
                </div>
            </div>
        </div>
</section>
<section>
    <article>
        <div class="container">
                <router-outlet></router-outlet>
        </div>
    </article>
    
</section>