<p>tips works!</p>
<h1>Tips</h1>
	<div class="card">
		<div class="card__inner">
			<div class="card__face card__face--front">
				<h2>Tip Of The Day</h2>
			</div>
			<div class="card__face card__face--back">
				<div class="card__content">
					<div class="card__header">
						<img src=".assets/images/img2.png" alt="" class="pp" />
						<h2>Tip For You</h2>
					</div>
					<div class="card__body">
						<p class="para"><strong> LIKE A KING, LUNCH LIKE A PRINCE AND DINNER LIKE A PAUPER</strong> </p>
					</div>
				</div>
			</div>
		</div>
	</div>