@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
svg {
  z-index: -2;
}
.tool-box {
  flex-wrap: wrap;
  justify-content: center;
}
.dash-icon {
  font-size: 45px !important;
}
.tool p {
  font-family: "Montserrat";
  font-weight: 600;
  margin-top: 15px;
  font-size: 18px;
}
.tool {
  background-color: #fff;
  border: 1px solid #ddd;
  flex: 0 0 20%;
  margin: 25px 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 2px 3px 2px #ddd;
  text-align: center;
}
.tool:focus,
.tool:hover {
  background-color: #ff5780;
  color: #fff;
}

@media (max-width: 762px) {
  .toolbar-top {
    font-size: 25px;
    margin-top: 30px;
  }
  .topbar-text {
    top: 60%;
  }
  .tool {
    flex: 0 0 40% !important;
    margin: 10px;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    box-shadow: 1px 1px 1px #ddd;
    border-radius: 8px;
  }
}

@media (max-width: 991px) {
  .tool {
    flex: 0 0 30%;
  }
}
