<!-- Show user data when logged in -->
<app-profile [profileNavStatus]="profileNavStatus" (profileClosed)="closeProfileNav($event)"></app-profile>

<!--If user exists, show his/her details-->
<div class="row top-row" *ngIf="authService.userData as user">

    <section class="f-body">
        <div class="row">
            <div class="main-section">
                <div class="content">
                    <div class="topbar">
                        <h3 class="topbar-text">Beauty is being comfortable and confident in your own skin.</h3>
                    </div>
                    <div class="toolbar">
                        <h4 class="toolbar-top text-center">Infinity Tools</h4>
                        <div class="tool-box d-flex">
                            <div class="tool" [routerLink]="['/real-time']" routerLinkActive="router-link-active" >
                                <p>Real Time</p>
                            </div>
                            <div class="tool" [routerLink]="['/posts']" routerLinkActive="router-link-active">
                                <p>Infinity Community</p>
                            </div>
                            <div class="tool" [routerLink]="['/upload-image']" routerLinkActive="router-link-active" >
                                <p>Upload Image</p>
                            </div>
                            <div class="tool">
                                <p>Tool Name</p>
                            </div>
                            <div class="tool">
                                <p>Tool Name</p>
                            </div>
                            <div class="tool">
                                <p>Tool Name</p>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="openProfileNav()">Toggle Profile nav</button>
    </section>

</div>


