@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
svg {
  z-index: -2;
}
.topbar{
  background-image: url(topillus.png);
  background-size: 100% 14rem;
  position: relative;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: top;
  padding-bottom: 10px;
}
.topbar-text{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 27rem;
  color: #fff;
  font-weight: 500;
}
.toolbar-top {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.tool-box {
  flex-wrap: wrap;
  justify-content: center;
}
.dash-icon {
  font-size: 45px !important;
}
.tool p {
  font-family: "Montserrat";
  font-weight: 600;
  margin-top: 15px;
  font-size: 18px;
}
button{
  background: transparent;
  border: none;
}
.navbar-icon{
  position: absolute;
  left: 65px;
  font-size: 35px;
  top: 30px;
  color: #fff;
  cursor: pointer;
}
.tool {
  background-color: #fff;
  border: 1px solid #ddd;
  flex: 0 0 20%;
  margin: 25px 15px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 2px 3px 2px #ddd;
  text-align: center;
}
.tool:focus,
.tool:hover {
  background-color: #ff5780;
  color: #fff;
}

@media (max-width: 762px) {
  .topbar{
    background-image: url(topillus-mob.png);
  }
  .navbar-icon{
    left: 30px;
  }
  .toolbar-top {
    font-size: 25px;
    margin-top: 30px;
  }
  .topbar-text {
    /* top: 30%;
    width: 20rem;
    left: 10px; */
    display: none;
  }
  .tool {
    flex: 0 0 30% !important;
    margin: 10px;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    box-shadow: 1px 1px 1px #ddd;
    border-radius: 8px;
  }
}

@media (max-width: 991px) {
  .tool {
    flex: 0 0 30%;
  }
}

.example-card {
  width: 20rem;
  height: 5rem;
  transition: 0.3s;
  position: relative;
}

.card-header{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cards-section{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}