html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.main{ overflow-x: hidden; }
canvas{
    border-radius: 10px!important;
}
::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}
::-webkit-scrollbar-track {
  background: #fff; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}