<section>
    <article class=" posts-header">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <h2>Infinity Community</h2>
                    <p class="text-muted header-para">Anything that you want to share?</p>
                </div>
            </div>
        </div>
    </article>
</section>

<section class="mt-5">
    <div class="container">
        <div class="row mx-auto">
            <form action="">
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 200px"></textarea>
                    <label for="floatingTextarea2">How are you feeling?</label>
                </div>
                <div class="d-flex flex-row align-items-center mt-3">
                    <button type="button" class="upload-button d-flex flex-row align-items-center ">
                        <div class="d-flex justify-content-center align-items-center upload-icon"> <i class="fa fa-cloud-upload"></i> </div>
                        <div class="upload-text"> <span>Image</span> </div>
                    </button>
                </div>
                <div class="text-right mt-5">
                    <button type="button" class="btn btn-success">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>